/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: #2e3a59;
}

.quit-button {
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 5px 10px;
    color: #666666;
    cursor: pointer;
}

h1 {
    font-size: 18px;
    color: #2e3a59;
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #d0d0d0;
}

/* Estilo da área de conteúdo com a imagem e o campo de texto */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
}

.description-image {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

textarea {
    width: 40%;
    height: 280px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

/* Botão CHECK */
.next-button {
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .5px;
    background-color: #3c5d87;
    border: none;
    color: #fff;
    border-radius: 5px;
    display: none;
    margin: 0 auto; /* Alinha o botão horizontalmente ao centro */
    display: block; /* Garante que o botão ocupe o espaço em bloco para centralização */
}

.next-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.next-button-modal {
    background-color: #3c5d87;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Estilos para Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }

    .description-image,
    textarea {
        width: 100%;
        max-width: 100%;
    }

    .modal-content {
        width: 80%;
    }
}